#hero{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 70vh;
}
#it_takes_two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.b_radius{
    border-radius: 15px;
}
.bord_er{
    padding: 3px;
    border: 2px solid rgba(60,147,217,255);
    border-radius: 15px;
}
.section_text,
.j_center{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f-color{
    color: rgba(42,137,213,255);
    text-transform: uppercase;
}
.img_play{
    width: 400px;
    height: 300px;
}
.fa-trademark{
    font-size: 0.5em;
    position: absolute;
    display: inline-block;
    top: 100;
    bottom: 1;
    margin: 5px;
}
.border_bottom_active{
    border-bottom: 2px solid  rgba(42,137,213,255);
}
.bg_brown{
    background-color: rgba(190,188,187,255);
}
.bg_light_brown{
    background-color: rgba(217,218,220,255);
}
.blu_color{
    color: rgba(42,137,213,255);
}
.logo_play_plus{
    width: 60%;
    
}